<?xml version="1.0" encoding="UTF-8"?>
<!-- bean文件的文件头标签与申明 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="io.github.ruoxijun.pojo.Address" c:address="value"/>

    <bean id="user" class="io.github.ruoxijun.pojo.User">

    </bean>
</beans>