<?xml version="1.0" encoding="UTF-8" ?>
<!-- 头文件(mapper.xml的头部声明) -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 绑定Mapper.xml对应的Mapper接口类 -->
<mapper namespace="ruoxijun.mapper.UserMapper">
    <!-- select 查询：
    id 对应接口中的方法名
    resultType 每条查询结果封装的类型
    标签内为查询语句 -->
    <select id="getUserList" resultType="user">
        select * from user
    </select>


    <insert id="insertUser" parameterType="user">
        insert into user values(#{id},#{name},#{age});
    </insert>
    <delete id="deleteUser" parameterType="int">
        delete from user where id=#{id};
    </delete>
</mapper>